.container{
    display: grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 150px 700px 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "sd main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft";
    border: 2px solid white;
}
.content-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    background-color: white;
    padding: 5px;
}
.sidebar-flex-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
}
.box{
    border: 1px solid white;
    background: white;
}
.blogbox{
    /* background-color: #F0F0F0; */
    background-color: #6dd5ed;
    /* border: 3px solid lightblue; */
    width: 20em;
    height: 30em;
}
.sidebarbox{
    background-color: white;
    border: 1px solid lightblue;
    margin: 5px;
    width: 4em;
    height: 3em;
}
.header{
    grid-area:hd;
    background-color: white;
}
.siderbar{
    grid-area:sd;
    background-color: white;
}
.sidebar-btn-group{
    color: white; 
    /* padding: 10px 24px;  */
    cursor: pointer; 
    width: 45%; 
    /* margin: 50px solid red; */
    border: 10px;
    margin-bottom: 10px;
    padding: 10px;
    /* display: block;  */
}
.content{
    grid-area:main;
    background-color: white;
}
.footer{
    grid-area:ft;
    background-color: darkgray;
}
.arial {
    font-family: Arial;
}
.blog-title{
    color: grey;
    font-family: Didot;
    font-weight: bold;
    margin:10px;
    line-height: 50px;
}
.blog-summary{
    font-family: cursive;
    margin:10px;
    line-height: 40px;
}