.container{
    display: grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 150px 700px 50px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "sd main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft";
    border: 2px solid yellow;
}
.content-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid orange;
    padding: 5em;
}
.sidebar-flex-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border: 2px solid black;
}
.box{
    border: 1px solid red;
    background: #f8faf8;
}
.blogbox{
    background-color: lightgray;
    border: 3px solid lightblue;
    width: 20em;
    height: 30em;
}
.sidebarbox{
    background-color: lightgray;
    border: 1px solid lightblue;
    margin: 5px;
    width: 4em;
    height: 3em;
}
.header{
    grid-area:hd;
}
.siderbar{
    grid-area:sd;
}
.content{
    grid-area:main;
}
.footer{
    grid-area:ft;
    background-color: darkgray;
}
.arial {
    font-family: Arial;
}
